
<div class="container">
  <div class="row">
    <h1>ようこそ Bookersへ！！</h1>

      <p class="sentent"><strong>Bookers</strong>では、様々な書籍に関するあなたの意見や</p>
      <p>印象を共有し、交換んすることができます</p>
          <div class="row">
            <%= link_to "sign up", new_user_registration_path, class: "btn btn-info col-xs-4" %>
          </div>

          <div class="row">
            <%= link_to "login", new_user_session_path, class: "btn btn-info col-xs-4" %>
          </div>
  </div>


</div>
